@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
.speech{
      font-size: medium;
      font-family: 'Times New Roman';
      color: black;

}

.direction{
    font-size: small;
    font-family: Arial;
    color: black;
    background-color: aliceblue;
}

.direction:hover{
    background-color: brown;
    color: darkgoldenrod;
}

.SEREBRAKOFF{
    color: blueviolet;
}

.HELENA{
    color: aqua;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(165, 212, 25);
    color: rgb(24, 21, 62);
    text-align: center;
    row-gap: 20px;
    padding:2px;
    margin: 2px;
}

.SEREBRAKOFF:hover{
    text-shadow: 1px 1px 4px rgb(84, 188, 19);
}
.HELENA:hover{
    text-shadow: 1px 1px 4px rgb(39, 16, 59) ;
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#6d3636;
    background-color:rgb(247, 247, 47);
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:rgb(52, 52, 221);
    color:white;
  }