.speech{
      font-size: medium;
      font-family: 'Times New Roman';
      color: black;

}

.direction{
    font-size: small;
    font-family: Arial;
    color: black;
    background-color: aliceblue;
}

.direction:hover{
    background-color: brown;
    color: darkgoldenrod;
}

.SEREBRAKOFF{
    color: blueviolet;
}

.HELENA{
    color: aqua;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(165, 212, 25);
    color: rgb(24, 21, 62);
    text-align: center;
    row-gap: 20px;
    padding:2px;
    margin: 2px;
}
